body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#img1{
  float: right;
  height: 250px;
  width: 250px;
  margin: 10px 10px 0px 10px;
  
}

#img2{
  float: left;
  height: 250px;
  width: 250px;
  margin: 10px 10px 10px 0px;
}